<h2> log in </h2>

<%= simple_form_for :session, url: session_path do |form| %>

	<%= form.input :username %>
	<%= form.input :password %>

	<%= form.button :submit, "log in" %>

<% end %>

<p>
	<%= link_to "sing up with facebook", "/auth/facebook" %>
	<%= link_to "sing up with twitter", "/auth/twitter" %>
	<%= link_to "sing up with linked in", "/auth/linkedin" %>
</p>