<h2> sign up to onboard! </h2>

<%= simple_form_for @user do |form| %>

	<%=form.input :name %>
	<%=form.input :username %>
	<%=form.input :email %>
	<%=form.input :password %>
	<%=form.input :password_confirmation %>

	<%= form.button :submit %>
	

	<% end %>


<p>
	<%= link_to "sing up with facebook", "/auth/facebook" %>
	<%= link_to "sing up with twitter", "/auth/twitter" %>
	<%= link_to "sing up with linked in", "/auth/linkedin" %>
</p>