
<%= image_tag @room.image(:large) %>


<h2> <%= @room.name %> </h2>

<%= simple_format @room.description %>

<p>
<strong>Address:</strong>
<%= @room.address %>
</p>




<% if @room.user.present? %>
	<p> added by <%= @room.user.username %> </p>
<% end %>


<% if current_user.present? and current_user == @room.user %>
	<div class="actions">
		<%= link_to "Edit", edit_room_path(@room) %>
		<%= link_to "Delete", room_path(@room), method: :delete, data: { confirm: "are you sure?" } %>
	</div>

<%end%>


<%= link_to "book this room", new_room_order_path(@room) %>


<%= link_to "back to homepage", root_path %>